.nav__container {
  box-shadow: 0 -1px 4px #00000026;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 250px;
  padding: 2rem 1.25rem;
  width: 14%;
}

.nav {
  flex: 1;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.nav__title {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  color: var(--primary-color);
}

.nav__link {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link_active {
  color: var(--primary-color);
}
